<div class='twelve columns'>
	<h1 class='center'><%= current_user.username %>'s Inbox</h1>

	<%= render 'nav' %>

	<hr>
	Total: <%= @conversations.count %>
	<hr>

	<%= render 'conversations' %>
</div>
