<div class='twelve columns'>
	<div class='eight columns offset-by-two'>
		<%= render 'nav' %>

		<h1 class='center'>Inbox</h1>
		<h6 class='center'>Total: <%= @conversations.count %></h6>

		<%= render 'conversations' %>
	</div>
</div>
