<div class='four columns offset-by-four'>
  <h1 class='center'><%= @user.username %></h1>

  <% if signed_in? %>
    <% if @user == current_user %>
      <%= link_to 'Messages', all_messages_path(current_user.username) %>
    <% else %>
      <p>Send Message</p>
    <% end %>
  <% end %>
</div>
