<div class='footer'>
  <a href='https://www.garrettstott.com' target='_blank'>&copy; Garrett Stott</a>
  <%= link_to contact_us_path, class: 'right' do %>
    <span><i class='fa fa-envelope-o'></i> Contact Us</span>
  <% end %>
</div>
