/*==============================================
COLORS
==============================================*/

$GOLD: rgb(255, 191, 0);
$BLACK: rgb(33, 33, 33);
$WHITE: rgb(227, 227, 227);
$GREY: rgb(56, 56, 56);
$GREEN: rgb(51, 158, 83);
$LIGHTGREY: lighten($GREY, 30%);
$RED: rgb(255, 57, 57);

/*==============================================
CUSTOM
==============================================*/

body {
  background: $BLACK;
  color: $WHITE;
}

.center {
  text-align: center;
}

.wrapper {
  height: 100%;
}

.red-text {
  color: $RED;
}

hr {
  border: 0;
  height: 1px;
  background: #8f8f8f;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.margin-top-sm {
  margin-top: 10px;
}

.margin-left-none {
  margin-left: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*==============================================
LINKS
==============================================*/

a {
  text-decoration: none;
  color: $GOLD;
}

.normalize-link {
  color: $WHITE;
}

.normalize-link:hover {
  color: $GOLD;
}

/*==============================================
NAVBAR
==============================================*/

.nav {
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid $GOLD;
  background-color: $BLACK;
  margin-bottom: 15px;
}

.nav-left {
  margin-left: 10px;
  display: inline-block;
}

.nav-right {
  margin-right: 5px;
  float: right;
  display: inline-block;
}

.nav-brand {
  margin: 0;
}

.nav-links {
  list-style: none;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 5px;
}

/*==============================================
FLASH MESSAGES
==============================================*/

.flash {
  border: 2px solid $WHITE;
  margin: 0 auto 15px auto;
  padding: 10px;
  max-width: 50%;
  width: 100%;
  background-color: $BLACK;
  border-radius: 5px;
}

.flash-message {
  width: 95%;
  display: inline-block;
  text-transform: capitalize;
}

.dismiss i {
  color: $RED;
  display: inline-block;
  float: right;
  font-size: 1.5em;
}

.flash-container {
  // position: absolute;
}

.alert-success {
  border: 2px solid $GREEN;
}

.alert-error {
  border: 2px solid $RED;
}

/*==============================================
FORMS
==============================================*/

input[type='text'], input[type='email'], input[type='password'], textarea {
  width: 100%;
  color: $WHITE;
  line-height: 20px;
  background-color: transparent;
}

input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, textarea:focus {
  border: 1px solid $GOLD;
}

input[type='submit'] {
  color: $WHITE;
}

input[type='submit']:hover {
  color: $WHITE;
}

label {
  padding: 0;
  margin: 0;
  text-align: left;
}

#new_post, #new_reply, #new_vehicle {
  display: none;
  margin: 40px 0;
}

#new_post textarea, #new_reply textarea {
  height: 400px;
}

#new_vehicle textarea {
  height: 200px;
}

/*==============================================
BUTTONS
==============================================*/

.btn, .btn:hover, .btn:active, .btn:target, .btn:focus {
  color: $WHITE;
}

.btn-danger {
  color: $RED;
  border: 1px solid $RED;
  float: right;
}

.btn-danger:hover {
  color: $RED;
  border: 1px solid darken($RED, 20%);
}

/*==============================================
FAVORITES
==============================================*/

.fa-heart {
  font-size: .7em;
}

/*==============================================
DEBUGGER
==============================================*/

.debugger {
  background-color: black;
}

.debug_dump {
  margin: 0;
  border-bottom: 1px solid $WHITE;
}
