/*==============================================
COLORS
==============================================*/

$GOLD: rgb(255, 191, 0);
$BLACK: rgb(33, 33, 33);
$WHITE: rgb(227, 227, 227);
$GREY: rgb(56, 56, 56);
$GREEN: rgb(51, 158, 83);
$LIGHTGREY: lighten($GREY, 30%);
$RED: rgb(255, 57, 57);

/*==============================================
CUSTOM
==============================================*/

body, html {
  background: $BLACK;
  color: $WHITE;
  height: 100%;
}

.center {
  text-align: center;
}

.wrapper {
  min-height: 100%;
  @media(max-width: 850px) {
    padding: 0 5px 80px 5px;
  }
}

.red-text {
  color: $RED;
}

hr {
  border: 0;
  height: 1px;
  background: #8f8f8f;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.margin-bottom-md {
  margin-bottom: 30px;
}

.margin-bottom-lg {
  margin-bottom: 60px;
}

.margin-top-sm {
  margin-top: 10px;
}

.margin-top-md {
  margin-top: 30px;
}

.margin-top-lg {
  margin-top: 60px;
}

.margin-left-none {
  margin-left: 0;
}

.margin-left-sm {
  margin-left: 10px;
}

.padding-sm {
  padding: 10px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.hr-fill-padding {
  margin-left: -10px;
  margin-right: -10px;
}

.breaks {
  white-space: pre-line;
}

.pointer {
  cursor: pointer;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*==============================================
LINKS
==============================================*/

a {
  text-decoration: none;
  color: $GOLD;
}

.normalize-link {
  // color: $WHITE;
}

.normalize-link:hover {
  color: $GOLD;
}

/*==============================================
NAVBAR
==============================================*/

.nav {
  height: 50px;
  line-height: 50px;
  border-bottom: 4px solid $GOLD;
  background-color: $BLACK;
  margin-bottom: 20px;
}

.nav-left {
  margin-left: 10px;
  display: inline-block;
}

.nav-right {
  margin-right: 5px;
  float: right;
  display: inline-block;
}

.nav-brand {
  margin: 0;
}

.nav-links {
  list-style: none;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 5px;
}

/*==============================================
FLASH MESSAGES
==============================================*/

.flash {
  border: 2px solid $WHITE;
  margin: 0 auto 15px auto;
  padding: 10px;
  max-width: 50%;
  width: 100%;
  background-color: $BLACK;
  border-radius: 5px;
}

.flash-message {
  width: 95%;
  display: inline-block;
  text-transform: capitalize;
}

.dismiss i {
  color: $RED;
  display: inline-block;
  float: right;
  font-size: 1.5em;
}

.flash-container {
  // position: absolute;
}

.flash-success {
  // border: 2px solid rgba($GREEN, 0.5);
}

.flash-error {
  border: 2px solid rgba($RED, 0.5);
}

/*==============================================
FORMS
==============================================*/

input[type='text'], input[type='email'], input[type='password'], textarea {
  width: 100%;
  color: $WHITE;
  line-height: 20px;
  background-color: transparent;
}

input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, textarea:focus {
  border: 1px solid $GOLD;
}

input[type='submit'] {
  color: $WHITE;
}

input[type='submit']:hover {
  color: $WHITE;
}

input[type='checkbox'], label {
  display: inline-block;
}

#new_post, #new_reply, #new_vehicle {
  display: none;
  margin: 40px 0;
}

#new_post textarea, #new_reply textarea, .large-textarea {
  height: 400px;
}

#new_vehicle textarea {
  height: 200px;
}

.edit_vehicle {
  display: none;
}

/*==============================================
BUTTONS
==============================================*/

.btn, .btn:hover, .btn:active, .btn:target, .btn:focus {
  color: $WHITE;
}

.btn-danger {
  color: $RED;
  border: 1px solid $RED;
  float: right;
}

.btn-danger:hover {
  color: $RED;
  border: 1px solid darken($RED, 20%);
}

/*==============================================
FAVORITES
==============================================*/

.fa-heart {
  font-size: .7em;
}

/*==============================================
DEBUGGER
==============================================*/

.debugger {
  background-color: black;
}

.debug_dump {
  margin: 0;
  border-bottom: 1px solid $WHITE;
}

/*==============================================
SWEETALERT
==============================================*/

.sweet-alert button {
  height: 100%;
}

.sweet-alert button.cancel {
  background-color: transparent;
  color: $RED;
  border: 1px solid $RED;
}

.sweet-alert button.cancel:hover {
  background-color: transparent;
  border: 1px solid darken($RED, 20%);
  color: darken($RED, 20%);
}

.sweet-alert button.confirm {
  background-color: transparent !important;
  color: lighten($BLACK, 30%);
  border: 1px solid lighten($BLACK, 30%);
}

.sweet-alert button.confirm:hover {
  background-color: transparent !important;
  color: $BLACK;
  border: 1px solid $BLACK;
}

/*==============================================
PAGINATION
==============================================*/

.pagination {
  font-family: monospace;
}

/*==============================================
FOOTER
==============================================*/

.footer {
  border-top: 4px solid $GOLD;
  height: 50px;
  padding: 20px 5px 0 5px;
  display: block;
  margin-top: 40px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.footer * {
  display: inline-block;
}

/*==============================================
FANCY
==============================================*/

.fancy {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.fancy:before, .fancy:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: $WHITE;
}
.fancy:before {
    margin-left: -50%;
    text-align: right;
}
