<div class='footer'>
  <p><a href='https://github.com/garrettstott'>&copy; Garrett Stott</a></p>
  <%= link_to contact_us_path, class: 'right' do %>
    <span><i class='fa fa-envelope-o'></i> Contact Us</span>
  <% end %>
</div>
