<div class='twelve columns nav'>

  <div class='nav-left'>
    <%= link_to root_path, class: 'nav-brand' do %>
      <%= image_tag('gearhead-gold-64x64.png') %>
    <% end %>
  </div>

  <%= link_to root_path, class: 'nav-brand' do %>
    <h4>Talking Cars</h4>
  <% end %>


  <div class='nav-right'>
    <i id='nav-menu' class='fa fa-bars fa-2x'></i>
  </div>
</div>
