<div class='twelve columns nav'>

  <div class='nav-left'>
    <%= link_to root_path, class: 'nav-brand' do %>
      <%= image_tag('gearhead-gold-64x64.png') %>
    <% end %>
  </div>

  <%= link_to root_path, class: 'nav-brand' do %>
    <h4>Talking Cars</h4>
  <% end %>


  <div class='nav-right'>
    <div class='nav-menu'>
      <i id='nav-menu' class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </div>
</div>


<script>
  $('#nav-menu').click(function() {
    $('.side-menu').fadeToggle('slow')
  })

  $(document).click(function(e) {
    if($(".side-menu").is(":visible")) {
      if(!$(".side-menu").is(e.target)) {
        if(!$(".side-menu").find('*').is(e.target)) {
          if(!$("#nav-menu").is(e.target))
          $('.side-menu').fadeToggle('slow')
        }
      }
    }
  });
</script>
